{%-liquid
    if template contains 'article'
        assign page_title = article.title
        assign msg_template = "Hi, I was reading " | append: page_title | append: "and wanted some more information about it." | append: page.url
    elsif template contains 'product'
        assign page_title = product.title
        assign msg_template = "Hi, I have a question about " | append: page_title | append: page.url
    elsif template contains 'collection'
        assign page_title = collection.title
        assign msg_template = "Hi, I have a query about the collection " | append: page_title | append: page.url
    else
        assign msg_template = "Hi, I need assistance and I am on" | append: page.title | append: page.url
    endif
-%}

<nav class="mobile-nav">
  <a href="#smile-home" class="bloc-icon">
    Earn Rewards
  </a>
  
    <div class="vl"></div>
    <a href="https://store.xecurify.com/moas/broker/login/jwt/20981?client_id=u1ySZApMJ1E4UWge&redirect_uri=https://memeraki.thinkific.com/api/sso/v2/sso/jwt?jwt=" class="bloc-icon">
      My Workshops
    </a>
  
  <div class="vl"></div>
  <a id="last" href="https://api.whatsapp.com/send?phone=919971593574&text={{ msg_template }}" class="bloc-icon"  target="_blank" rel="noopener noreferrer">
    WhatsApp Us
  </a>

</nav>

<style>
  @media screen and (min-width: 600px) {
    .mobile-nav {
      display: none;
      z-index: 999;
    }
  }

  @media screen and (max-width: 980px) {
    .mobile-nav {
      background: white;
      position: fixed;
      bottom: 0;
      height: 55px;
      width: 100%;
      display: flex;
      justify-content: space-around;
      font-weight: normal;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

    }
    .bloc-icon {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
    }
    .vl {
      border-left: 1px solid #8080805e;
      height: 30px;
      margin-top: 12px;
    }
    .mobile-nav a {
      font-size: 14px;
      font-weight: 500;
      color: black;
    }

    #last {
      margin-right: 4px;
    }
  }
  @media screen and (min-width: 280px) {
    .mobile-nav a {
      font-size: 11px;
    }
  }
</style>