<button onclick="topFunction()" id="myBtn" title="enroll now">Enroll Now</button>

<style>
  @media screen and (min-width: 981px){ 
#myBtn {
  display: none;
  position: fixed;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #44153F;
  color: white;
  cursor: pointer;
  width: 130px;
  right: 0px;
  font-weight: bold;
  top: 125px;
  text-align: center;
  height: 45px;
  line-height: 45px;
}}

#myBtn:hover {
  background-color: grey;
}

@media screen and (max-width: 980px) {
#myBtn {
  display: none;
  position: fixed;
  bottom: 42px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #44153F;
  color: white;
  cursor: pointer;
  border-radius: 35px;
  width: 93%;
  right: 10px;
  font-weight: bold;
  text-align: center;
  height: 45px;
}

#myBtn:hover {
  background-color: grey;
}}

</style>

<script>
// Get the button
let mybutton = document.getElementById("myBtn");

// When the user scrolls down 600px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {

  var w = window.innerWidth;
 
    if (document.body.scrollTop > 600 || document.documentElement.scrollTop > 600) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }}
  
// When the user clicks on the button
function topFunction() { 
}
</script>