<div class="index-sections">
  <section class="media-article">
  	<div class="section-title row">
    	<h2>MEDIA COVERAGE</h2>
      </div>
    	
      	<article id="media-images" class="row horiscroll" style="max-width:100%; margin-left:auto; margin-right:auto;">
           <div class="media-carousel horizontalScroll">     
          		<div class="">
                  <a href="https://www.forbes.com/sites/chynes/2017/06/28/in-the-bag/#74ceb6ff5000" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/forbeslogo.png?v=1627620961" alt="media-1 Forbes Feature">
                  </a>
                </div>
                <div class="">
                  <a href="https://www.newindianexpress.com/lifestyle/fashion/2020/aug/09/where-folk-meets-fashion-2180261.html" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/tnielogo.png?v=1627620961" alt="media-2 newindianexpress Feature">
                  </a>
                </div>
                <div class="">
                  <a href="https://mastercard.globallinker.com/bizforum/article/yosha-gupta-founder-memeraki/29421#/overlay/signup/articleview/29421" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/mastercardlogo.png?v=1627620961" alt="media-3 Mastercard GlobalLinker Feature">
                  </a>
                </div>
                <div class="">
                  <a href="https://www.scmp.com/lifestyle/arts-culture/article/3100821/indian-artists-who-hit-their-stride-hong-kong-i-had-chance" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/scmplogo.png?v=1627620961" alt="media-4 SCMP Feature">
                  </a>
                </div>
             	<div class="">
                  <a href="https://mumbaimirror.indiatimes.com/others/sunday-read/small-talk-carrying-art-on-your-shoulders/articleshow/70823910.cms" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/mmlogo.png?v=1628243058" alt="media-5 Mumbai Mirror Feature">
                  </a>
                </div>
             <div class="">
                  <a href="https://www.thehindu.com/entertainment/art/yosha-gupta-of-memeraki-on-the-folk-art-worksops-and-how-art-enthusiasts-across-the-world-are-learning-from-the-masters-in-india/article31524603.ece" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/hindulogo.png?v=1627620961" alt="media-6 The Hindu Feature">
                  </a>
                </div>
             	<div class="">
                  <a href="https://www.thehindubusinessline.com/blink/know/artists-come-together-to-fight-adversity/article31921835.ece" target="_blank">
    				<img src="https://cdn.shopify.com/s/files/1/1194/1498/files/bllogo_25098f05-98cc-4a9e-b4a4-1e5835aaa335.png?v=1628243209" alt="media-7 The Hindu Business Line Feature">
                  </a>
                </div>
             {%comment%}
             	<div class="">
                  <a style="margin-top: 20%;" href="http://hk.asiatatler.com/society/10-female-entrepreneurs-in-hong-kong#slide-9" target="_blank">
    				<img  src="https://cdn.shopify.com/s/files/1/1194/1498/t/7/assets/hongkong-tatler.png?6572878039038300776" width="275" alt="media-6 Asia Tatler Feature">
                  </a>
                </div>
             	<div class="">
                  <a style="margin-top: 28%;" href="https://thehkhub.com/meraki-crowdfunding-campaign-bags-handpainted-indian-artisanal/" target="_blank">
    				<svg xmlns="http://www.w3.org/2000/svg" style="" viewBox="0 0 320 40"><path d="M163.404 3.252L166.554 0h-5.792v36.583l2.642-2.642zm21.24.203l-15.04 14.735v-3.05L185.048 0h7.62zm8.94 34.55h-7.52l-13.21-16.563-4.877 4.776v11.788h-6.097l3.252-3.252V3.964l2.744-2.745h.1v21.23l18.597-18.19 6.707-2.747L174.887 19.4l11.99 15.14zm-16.258-18.392l1.524-1.525 13.922 17.48-4.674-2.44zM29.776 1.22V6.4h-11.28v31.604h-6.098l3.25-3.252V4.064h11.18zM10.06 6.4H1.118l2.337-2.337h9.35zm89.527-5.18V6.4h-19.41v7.926l-2.845 2.54v-12.8h19.715zm-1.83 15.446v5.182h-17.58v8.638l-2.845 2.54V19.41H95.32zm1.83 16.157v5.183H74.182l2.642-2.44h20.223zM153.14 1.118v36.888h-6.096l3.25-3.252V3.964l2.847-2.846zm-28.758 2.845l2.744-2.744v12.9l-2.744 2.54zm20.324 17.682h-17.58v16.36h-5.995l3.26-3.353V19.206h23.07zm99.08-20.527v36.888h-5.996l3.252-3.252V3.964l2.743-2.846zM215.13 3.963l2.74-2.744v12.9l-2.742 2.54zm20.32 17.682h-17.58v16.36h-6.096l3.354-3.353V19.206h22.965zM0 5.08V0h28.352l-2.236 2.236H2.744zm13.922 28.86l-2.642 2.643V7.723l2.642-2.337zm65.138-.1l2.54-2.236h16.666l-2.032 2.235zM75.707 2.235v32.11l-2.643 2.34V0h25.304l-2.033 2.236h-20.73zm5.893 13.21h14.837l-1.93 2.236H79.06zM66.967 1.118v36.888H60.87l3.252-3.252V3.964l2.845-2.846zM38.21 3.963l2.743-2.744v12.9l-2.744 2.54zm20.323 17.682h-17.58v16.36h-5.996l3.252-3.353V19.206h23.06zM33.84 36.583V0h5.792L36.38 3.252v30.69zm8.637-21.34h17.275V0h5.793l-3.15 3.252V17.48h-22.46zm19.917 5.386v13.31l-2.642 2.64V22.96c.712-.508.204-.102 2.642-2.337zm57.62 15.95V0h5.79l-3.15 3.252v30.69zm6.096-19.11l2.642-2.136h17.275V.102h5.793l-3.252 3.15V17.48H126.11zm22.458 16.46l-2.642 2.642v-13.61l2.642-2.338zm62.09 2.642V0h5.893l-3.25 3.252v30.69zm8.637-21.34h17.377V0h5.792l-3.252 3.252V17.48h-22.356zm19.917 18.7l-2.54 2.64v-13.61l2.54-2.338zm67.68-27.54H296.73v7.926l-2.746 2.44V3.96h13.11c1.93 0 3.658.508 4.877 1.423l-1.93 1.93c-.81-.61-1.83-.914-3.15-.914zm-10.06 16.462v7.62l-2.847 2.54v-12.6zm16.766-4.47c3.252 1.014 6.2 4.57 6.402 9.144 0 6-3.862 10.47-11.178 10.47h-17.987l2.642-2.44h14.125c8.13 0 9.45-6.198 9.45-8.738 0-3.964-2.844-6.91-6.503-8.232 6.5-2.64 7.11-9.35 3.76-13.21l2.23-2.23c4.37 4.572 3.15 13.007-2.95 15.242zm-21.442-16.15v32.11l-2.642 2.34V0h18.698c2.845 0 5.183.61 7.012 1.93l-2.134 2.135c-1.524-1.22-3.557-1.83-5.996-1.83h-14.938zm22.966 23.676c.508 3.357-1.32 7.93-7.52 8.13h-11.99l2.54-2.232h9.044c3.15 0 5.284-1.728 5.284-4.878 0-2.644-1.83-4.88-5.284-4.88h-9.044l-3.557-3.25 3.557-3.253h8.536c5.08 0 5.59-4.573 4.37-6.707l1.93-1.93c.915 1.22 1.423 2.54 1.423 4.16.11 3.354-3.45 6.707-8.43 6.707h-6.91l-1.12.915 1.12.916h6.91c4.07 0 8.54 2.237 9.15 6.3zM254.76 3.966l2.846-2.844v21.746c0 2.643.71 4.675 1.83 6.2l-1.83 1.828c-1.728-1.83-2.846-4.573-2.846-8.74V3.964zm4.167 28.15l1.93-1.626c1.626 1.22 3.76 1.83 6.098 1.83 5.182 0 9.145-2.95 9.145-9.35V.1h5.894l-3.252 3.15v18.9c0 10.57-7.62 12.297-11.89 12.297-2.235 0-5.385-.41-7.925-2.34zm-2.54 0l-2.033 2.134c-2.54-2.54-3.963-6.3-3.963-11.28V.1h5.9l-3.25 3.15v19.31c0 3.86 1.22 7.215 3.35 9.552zm24.083-9.552v-18.6l2.845-2.844v21.744c0 10.874-6.808 15.75-16.462 15.75-4.573 0-8.434-1.015-11.28-3.25l2.134-2.033c2.337 1.94 5.386 2.95 9.146 2.95 8.536-.1 13.617-5.59 13.617-13.72z"/></svg>
                  </a>
                </div>  {%endcomment%}
          </div>
      	</article>
    
  </section>
</div>


<style>
 @media screen and (max-width: 750px){
    .horizontalScroll{
/*       border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      overflow-x: auto; 
overflow-y: hidden;  */
       
      max-width: 35px;
      height: 18vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
      scrollbar-width: none;
      -ms-overflow-style: none;
    }
    .horizontalScroll::-webkit-scrollbar {
      display: none;
    }
     
    .horiscroll{
      overflow-x: scroll;
    }
    .horizontalScroll > div > a > img{
      width: 100%;
      height: auto;
    }
    .horizontalScroll > div > a {
      width: 100px; 
      height : 100px;
    }
    .horizontalScroll > div{
            width: 100px;
            height: 100px;
            flex: 0 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
    }
    .media-carousel img {
      padding-left: 5px;
      padding-right: 5px;
}
   .media-carousel{
     width: 100%;
   }
    
}
  @media only screen and (min-width: 300px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 0px;
}
}
  @media only screen and (min-width: 400px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 0px;
}
}
  @media only screen and (min-width: 450px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 112px;
}
}
  @media only screen and (min-width: 500px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 200px;
}
}
  @media only screen and (min-width: 550px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 300px;
}
}
  @media only screen and (min-width: 600px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 311px;
}
}
  @media only screen and (min-width: 650px) and (max-width: 775px){
       .horizontalScroll{
        max-width: 475px;
}
}
</style>

