{%-liquid
    if template contains 'article'
        assign page_title = article.title
        assign timer_val = 90000
        assign msg_template = "Hi, I was reading " | append: page_title | append: "and wanted some more information about it, ${link}." 
    elsif template contains 'product'
        assign page_title = product.title
        assign timer_val = 30000
        assign msg_template = "Hi, I am looking for " | append: page_title | append: "and the link is ${link}."
    elsif template contains 'collection'
        assign page_title = collection.title
        assign timer_val = 90000
        assign msg_template = "Hi, I have a query regarding the collection " | append: page_title | append: "the link is ${link}."
    else
        assign timer_val = 30000
        assign msg_template = "Hi, I need assistance and I am on ${link} page."
    endif
-%}

<div class="expl" id="popup1" >
    <div class="close" onclick="hide()">
        <div class="x">x</div>
    </div>
    <div class="message sent" >
        <a  target="_blank" id="wStrip" href="https://api.whatsapp.com/send?phone=919971593574&text=Hi, I have a query" >Need help? Click here to talk to us</a>   
        
        </div>
        
    </div>
</div>

<script>
    const link = window.location.href;
    {% comment %} const x = document.getElementsByTagName("h1")[0].innerHTML; {% endcomment %}
    whatsappLink=document.getElementById('wStrip');
    whatsappLink.href=`https://api.whatsapp.com/send?phone=919971593574&text={{ msg_template }}`;
       
    function show() {
        document.getElementById("popup1").classList.add("fadeIn");
        document.getElementById("popup1").style.visibility = "visible"; 
        
    }

    function hide() {
        document.getElementById("popup1").style.visibility = "hidden";
    }
    setTimeout(show, {{ timer_val }});


</script>

<style>
    
body {
margin: 0px;
padding: 0px;
}


.popup {
width: 297px;
height: 60px;
opacity: 0;
transition: ease opacity 1s;
background-image: #25d366;
color: white;
border-radius: 8px;
margin-top: 300px;
margin-left: 50px;
}



.expl.fadeIn {
opacity: 1;
transition: ease opacity 1s;
z-index: 999;
}
.popup .text {
font-size: 15px;
position: absolute;
margin-top: 26px;
margin-left: 30px;
}
.x {
color: white;
margin-top: -5px;
font-size: 27px;
}
.close {
background-color: grey;
border-radius: 50px;
height: 28px;
width: 29px;
display: flex;
justify-content: center;
align-items: center;
margin-left: 226px;
margin-bottom: -2px;
/* display: inline-block; */
cursor: pointer;
}
.expl{
visibility: hidden;
opacity: 0;
position: fixed;
bottom: 0;
right: 5%;
margin-bottom: 13px;
}
.message {

color: #000;
clear: both;
line-height: 18px;
font-size: 15px;
padding: 8px;
position: relative;
margin: 8px 0;
width: 240px;
word-wrap: break-word;
z-index: -1;
}

.message:after {
position: absolute;
content: "";
width: 0;
height: 0;
border-style: solid;
}
.message.sent {
background-color: #e1ffc7;
font-family: 'Roboto', sans-serif;
width: 245px;
margin-right: 11px;
border-radius: 5px 0px 5px 5px;
/* float: right; */
margin-bottom: 20px;
padding: 8px;
}

.message.sent:after {
border-width: 0px 0 10px 10px;
border-color: transparent transparent transparent #e1ffc7;
top: 0;
right: -10px;
}

.output{
margin: 10px 0 10px 0;
background-color: #e1ffc7;
padding: 10px;
border-radius: 10px;
width: 276px;
}

.inputSec{
display: flex;
align-items: center;
justify-content: space-between;
}


img.sendIcon{
width: 40px;
height: 40px;
border-radius: 100%;
margin-bottom: -22px;
}

#whatsappMessageBox{
margin-top: 28px;
height: 39px;
border-radius: 5px;
background-color: white!important;
margin-bottom: 5px;
margin-right: 5px;

}


@media only screen and (min-width: 200px) and (max-width: 500px){
.expl{
position: fixed;
bottom: 0;
right: 0%;

}
.message.sent{
width: 310px;
margin-left: 79px;
}
}

@media only screen and (min-width: 250px) and (max-width: 280px){
.expl{
position: fixed;
bottom: 0;
right: 0%;

}
.message.sent{
width: 187px;
margin-left: 72px;
margin-right: 82px;
}
}

@media only screen and (min-width: 350px) and (max-width: 400px){
.expl{
position: fixed;
bottom: 0;
right: 0%;
}
.message.sent{
width: 243px;
margin-left: 11px;
margin-right: 43px;
margin-bottom: 71px;
padding: 7px;
}
}
@media only screen and (min-width: 400px) and (max-width: 450px){
.expl{
      position: fixed;
bottom: 0;
right: 0%;
margin-bottom: 85px;
}
.message.sent{
width: 243px;
margin-left: 11px;
margin-right: 43px;
margin-bottom: 5px;
padding: 7px;
}
}
@media only screen and (min-width: 450px) and (max-width: 500px){
.expl{
      position: fixed;
bottom: 0;
right: 0%;
margin-bottom: 85px;
}
}
@media only screen and (min-width: 500px) and (max-width: 600px){
.expl{
      position: fixed;
bottom: 0;
 right: 12%;
margin-bottom: 15px;

}
.message.sent{
margin-right: 21px;
}
}
@media only screen and (min-width: 600px) and (max-width: 700px){
.expl{
      position: fixed;
bottom: 0;
 right: 12%;
margin-bottom: 15px;
}
}
@media only screen and (min-width: 700px) and (max-width: 800px){
.expl{
      position: fixed;
bottom: 0;
 right: 9%;
margin-bottom: 15px;
}
.message.sent{
margin-right: 22px;
}
}
@media only screen and (min-width: 800px) and (max-width: 900px){
.expl{
      position: fixed;
bottom: 0;
 right: 9%;
margin-bottom: 15px;
}
}
@media only screen and (min-width: 900px) and (max-width: 1000px){
.expl{
      position: fixed;
bottom: 0;
 right: 8%;
margin-bottom: 15px;
}
.message.sent{
margin-right: 17px;
}
}
 @media only screen and (min-width: 1000px) and (max-width: 1300px){
.expl{
      position: fixed;
bottom: 0;
 right: 6%;
margin-bottom: 15px;
}
.message.sent {
    margin-right: 18px;
}
}
</style>




{% schema %}
{
"name": "Section name",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}