  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://consciousfoundation.com/memeraki/css/vscustom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet"> 
 <!-- images with text sliders  -->
    <!-- images with text sliders  -->
    <section class="img-txtslider-section product-section">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">Spirituality</a></li>
                <li><a href="javascript:void(0)">Blog Name</a></li>
          </ul>
        </div>
    </section>

    <section class="blogname-section mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="blog-banner">
                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img4.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-6 pl-lg-0">
                    <ul class="blog-lu">
                        <li>
                            <a href="javascript:void(0)">tag tag</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">tag tag</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">tag</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">tag tag tag tag</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">tag</a>
                        </li>
                    </ul>
                    <div class="artistic-box">
                        <h2 class="ttl">
                            Indo-Christianity Artistic<br/>
                            Encounters in Kerala
                        </h2>
                        <p>
                            Posted on Oct 17, 2022<br/>
                            By Mehuli Mazumder Collaborator
                        </p>
                    </div>
                    <div class="ft-ttl">
                        <ul class="social-ul py-4">
                            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="fa fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- motive-sec -->
    <section class="motive-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="motive-box">
                        <p>
                            Flanked by the picturesque beaches of the Arabian Sea on one side and the tropical forests of the Western 
                            Ghats on the other, it is indeed no surprise that Kerala is referred to as God’s Own Country. 
                            The unique geographical location enjoyed by the state has made it a popular hotspot since antiquity, 
                            attracting men of trade, of knowledge and of god. Consequently, it is not only the country of one god, 
                            but the land of many. 
                        </p>
                        <p>
                            Centuries of cultural exchange and intermingling have blurred the hard lines of 
                            institutionalised religion, fostering an environment conducive to the growth of multiculturalism. 
                            The Malayalam language acts as the uniting linchpin of the state, binding together communities whose deities 
                            have nothing in common except that they are adored and revered by devotees. Customs overflow from one religion, 
                            and are adopted by another. In this manner, Kerala acts as a microcosm of the interplay of the human experience.
                        </p>
                        <p>
                            Reminiscing about his boyhood days in the village of Urulikunnam, author Paul Zacharia describes a memory 
                            of Saint Sebastian’s Day in his distinct illustrative prose,
                        </p>
                        <p>
                            <b><em>
                            “At each house we visited, the priest intoned 
                            the prayers in a quiet voice, the sacristan ringing his little bell at intervals. The smoke from the 
                            swinging incense burner wafted in the breeze. The Hindu homes welcomed us with lighted candles at their gates. 
                            St. Sebastian, shot through with arrows and pinned to a tree stump, showered his blessings on all as he chased 
                            away disease and sickness.” 
                            </em></b>
                        </p>
                        <p>
                            Christianity arrived at the Malabar coast in two waves. Syrian Christians in 
                            Kerala believe that the first instance occurred in 52 AD, when Jesus’ disciple Apostle Thomas himself came 
                            to the monsoon abode. Descendants of those who were baptised by the saint follow the Syrian rite till date, 
                            and are proud of their blessed lineage. The second wave arrived in 1498 with none other than Vasco da Gama 
                            at the helm of affairs. The Portuguese explorers brought with them a distinctly European brand of Christianity, 
                            and with it, the Latin rite. The history of the Abrahamic religion in Kerala therefore runs as deep as the 
                            backwaters, overlapping in sect and ritual idiosyncrasies, but striving to stay true to the complex 
                            dimensions of the Gospel.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./motive-sec -->

    <!-- bg-sec banner-box -->
    <section class="bg-sec banner-box">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-7 pl-lg-0">
                    <div class="banner-img">
                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/slider-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 align pl-lg-0">
                    <div class="banner-cap">
                        <p>
                            Apostle Thomas Preaching in India / Image <br/> 
                            Source: <a href="javascript:void(0)">https://pravoslavie.ru/</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./bg-sec banner-box -->

    <!-- motive-sec -->
    <section class="motive-sec motive2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="motive-box">
                        <p>
                            Apart from being a hub of diversity, the spice capital boasts of backwaters, tea plantations, classical 
                            dances, traditional martial arts, and also one of the most striking mural traditions in the world. 
                            It is in the last of the aforementioned bounties that one can identify the profundity of cultural 
                            pluralism that thrives in the state. The art form stands as a testament to diversity. 
                        </p>
                        <p>
                            The Kerala mural style was developed in the 7th-8th centuries AD. It began as an art style confined to 
                            Hinduism with subject matter borrowed from texts such as the Ramayana and the Puranas. The murals were 
                            painted on walls, and so, scriptural tales of mythical beings larger than life coloured the towns with vibrant 
                            hues and perfect symmetry. The 14th century ushered in the Golden Age of these murals and, due to the 
                            size of the art and the prevailing economic conditions, the only properties large enough to host the 
                            works belonged to religious institutions and nobility. For this reason, the murals spilled over from 
                            Hindu temples and splashed onto the walls of many churches in Kerala. This engendered the burgeoning 
                            of innovation in mural art, opening it up to new opportunities in terms of both ideas and skill.
                        </p> 
                        <p>
                            When Vasco da Gama arrived in Kerala in the 15th century, imagine his surprise at finding not only 
                            followers of Christianity, but churches devoted to the worship of Christ! Hernan Lopes de Castaneda - a 
                            Portuguese traveller belonging to da Gama’s party - documented the experience of his journey in a book, 
                            the manuscripts of which are priceless in today’s date. In old English translations, his report reads - 
                        </p>
                        <p>
                            <b><em>
                                “The first booke of the historie of the discouerie and conquest of the East Indias, enterprised by the 
                                Portingales, in their daungerous nauigations, in the time of King Don Iohn, the second of that name. 
                                VVhich historie conteineth much varietie of matter, very profitable for all nauigators, and not vnpleasaunt 
                                to the readers. Set foorth in the Portingale language, by Hernan Lopes de Castaneda.”
                            </em></b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./motive-sec -->
    <!-- bg-sec banner-box -->
    <section class="bg-sec banner-box2">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-7 pl-lg-0">
                    <div class="banner-img">
                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/slider-img.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-5 align pl-lg-0">
                    <div class="banner-cap">
                        <p>
                            Vasco De Gama Leaving for India Image<br/> 
                            Source: National Portugal Library
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./bg-sec banner-box -->

    <!-- motive-sec -->
    <section class="motive-sec motive3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="motive-box">
                        <p>
                            In his writings, Castaneda describes his reaction to murals in a church in Kerala. Upon entering the 
                            establishment, the party was shocked at the demonic reds used in the depiction of Biblical passages 
                            on the walls. According to his report, some of the figures even had multiple arms, which the Portuguese 
                            perceived as a monstrous abomination. Needless to say, the party was not aware of the iconography of 
                            many-armed gods and goddesses in Hindu mythology. This intercultural borrowing of divine symbols was 
                            likely lost on them. 
                        </p>
                        <p>
                            In the Hindu tradition of Kerala mural art, the figures painted in yellow ochre or red are associated 
                            with power, wealth, or activity and are said to be imbued with the rajasic guna. Figures in green or 
                            blue are the saatvik - pure and intelligent. Lastly, the ones depicted in white are said to be selfish 
                            and greedy, representing the tamas guna. When the temple-centric art style moves into churches, 
                            some of the symbolism remains the same whereas others are altered. The colour theory of the panchavarna 
                            is not strictly adhered to for church murals, where the most commonly used colours are red and deep blue. 
                            Red in this case signifies energy, which is similar to the active characteristic of the rajasic guna. 
                            Jesus is usually depicted in this colour, as it also stands for sacrifice in Christian iconography. 
                            The deep blue in turn is symbolic of a heavenly abode, and is the colour used for Mother Mary’s robes. 
                            The shade is specially made from lapis lazuli that the clerics source from Damascus. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./motive-sec -->

    <!-- boder-line -->
    <div class="container borderline"></div>
    <!-- ./boder-line -->


     <!-- Product Section 4 -->
     <section class="sideborder-sldder">
        <div class="container">
            <h5 class="sub-ttl viewall"><a href="javascript:void(0)">View All</a></h5>
            <div class="product5">
                <div class="owl-carousel pro-slidedd"> 
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Item -->
                    <div class="item">
                        <div class="sidebor-box">
                            <div class="img-wrap">
                                <img class="img-fluid" src="http://consciousfoundation.com/memeraki/images/treeo.webp" alt="">
                            </div>
                            <div class="side-text">
                                <h2 class="ttl">Name of the Painting</h2>
                                <h4 class="sub-ttl">Name of the Artist</h4>
                                <div class="btn-block">
                                    <button class="btn btn-buy">
                                        <i class="fa fa-cart-plus mr-2"></i> Buy (Price)
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </section>
    <!-- ./Product section -->

    <!-- boder-line -->
    <div class="container borderline longg"></div>
    <!-- ./boder-line -->
    
    <!-- motive-sec -->
    <section class="motive-sec motive4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="motive-box">
                        <p>
                            Castaneda’s horror upon seeing a mural painting of Christian scriptures brings us to a profound 
                            realisation – religion is not static; in spite of being bound by a canonical set of governing principles, 
                            it always finds a way to meander and adapt, to learn and relearn. Religion alters its syntax to fit its 
                            new home, rearranging its grammar for the sake of new communities, new disciples who have welcomed 
                            its teachings with open arms. Kerala is a place where Indo-Christianity has flourished alongside Hinduism, 
                            and the two have come together to found a language fit to express the shared emotion of communal 
                            harmony - a language so unique that perhaps da Gama’s party was not able to identify their faith with 
                            the pictures on the wall. Nonetheless, the language of the mural tradition speaks of that unrelenting 
                            reservoir of consonance which allowed Zacharia to know that he could always count on a candle at the 
                            doorstep of Hindu households to guide the Catholic boys home on Saint Sebastian’s Day. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./motive-sec -->

    <!-- boder-line -->
    <div class="container borderline"></div>
    <!-- ./boder-line -->


     <!-- Product Section 2 -->
     <section class="product-section relate">
        <div class="container-fluid">
            <h5 class="sub-ttl">Read More on this Artform/Related Reads: <span class="view-btn-sec"><a href="javascript:void(0)">View All</a></span></h5>
            <div class="product-slider-sec product1">
                <div class="owl-carousel pro-slider22"> 
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img2.jpg" alt="">
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h6 class="head-ttl">Essays</h6>
                                <h3 class="ttl">Cocoa in Idukki; The Macofa Chocolate Factory</h3>
                                <div class="desc">
                                    <p>By MeMeraki Callabarator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->

                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img2.jpg" alt="">
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h6 class="head-ttl">Essays</h6>
                                <h3 class="ttl">Cocoa in Idukki; The Macofa Chocolate Factory</h3>
                                <div class="desc">
                                    <p>By MeMeraki Callabarator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->

                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img2.jpg" alt="">
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h6 class="head-ttl">Essays</h6>
                                <h3 class="ttl">Cocoa in Idukki; The Macofa Chocolate Factory</h3>
                                <div class="desc">
                                    <p>By MeMeraki Callabarator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img2.jpg" alt="">
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h6 class="head-ttl">Essays</h6>
                                <h3 class="ttl">Cocoa in Idukki; The Macofa Chocolate Factory</h3>
                                <div class="desc">
                                    <p>By MeMeraki Callabarator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img2.jpg" alt="">
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h6 class="head-ttl">Essays</h6>
                                <h3 class="ttl">Cocoa in Idukki; The Macofa Chocolate Factory</h3>
                                <div class="desc">
                                    <p>By MeMeraki Callabarator</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                </div>
            </div>  
        </div>
    </section>
    <!-- ./Product section 2 -->

    <!-- Product Section 3 -->
     <section class="product-section relate mt-4">
        <div class="container-fluid">
            <h5 class="sub-ttl">Explore Live Workshops: <span class="view-btn-sec"><a href="javascript:void(0)">View All</a></span></h5>
            <div class="product-slider-sec product22">
                <div class="owl-carousel pro-slider22">
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/sidebar-img.jpg" alt="">
                                    <div class="diffi-lvl">
                                        <a href="javascript:void(0)">Difficulty Level</a>
                                        <a href="javascript:void(0)"><i class="fa fa-scissors" aria-hidden="true"></i>
                                             Materials Included</a>
                                    </div>
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h3 class="ttl">ONLINE ADVANCED BIKANER PAINTING WORKSHOP</h3>
                                <h6 class="head-ttl">18th-20th Nov,2022</h6>
                                <div class="desc">
                                    <p><img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt=""> Mahaveer Swami</p>
                                </div>
                                <div class="btn-block">
                                    <button class="btn btn-regii">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/sidebar-img.jpg" alt="">
                                    <div class="diffi-lvl">
                                        <a href="javascript:void(0)">Difficulty Level</a>
                                        <a href="javascript:void(0)"><i class="fa fa-scissors" aria-hidden="true"></i>
                                             Materials Included</a>
                                    </div>
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h3 class="ttl">ONLINE ADVANCED BIKANER PAINTING WORKSHOP</h3>
                                <h6 class="head-ttl">18th-20th Nov,2022</h6>
                                <div class="desc">
                                    <p><img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt=""> Mahaveer Swami</p>
                                </div>
                                <div class="btn-block">
                                    <button class="btn btn-regii">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/sidebar-img.jpg" alt="">
                                    <div class="diffi-lvl">
                                        <a href="javascript:void(0)">Difficulty Level</a>
                                        <a href="javascript:void(0)"><i class="fa fa-scissors" aria-hidden="true"></i>
                                             Materials Included</a>
                                    </div>
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h3 class="ttl">ONLINE ADVANCED BIKANER PAINTING WORKSHOP</h3>
                                <h6 class="head-ttl">18th-20th Nov,2022</h6>
                                <div class="desc">
                                    <p><img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt=""> Mahaveer Swami</p>
                                </div>
                                <div class="btn-block">
                                    <button class="btn btn-regii">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/sidebar-img.jpg" alt="">
                                    <div class="diffi-lvl">
                                        <a href="javascript:void(0)">Difficulty Level</a>
                                        <a href="javascript:void(0)"><i class="fa fa-scissors" aria-hidden="true"></i>
                                             Materials Included</a>
                                    </div>
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h3 class="ttl">ONLINE ADVANCED BIKANER PAINTING WORKSHOP</h3>
                                <h6 class="head-ttl">18th-20th Nov,2022</h6>
                                <div class="desc">
                                    <p><img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt=""> Mahaveer Swami</p>
                                </div>
                                <div class="btn-block">
                                    <button class="btn btn-regii">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                    <!-- Item -->
                    <div class="item">
                        <div class="product-sec">
                            <div class="head">
                                <div class="img-wrap full zoom">
                                    <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/sidebar-img.jpg" alt="">
                                    <div class="diffi-lvl">
                                        <a href="javascript:void(0)">Difficulty Level</a>
                                        <a href="javascript:void(0)"><i class="fa fa-scissors" aria-hidden="true"></i>
                                             Materials Included</a>
                                    </div>
                                </div>
                            </div>
                            <div class="body product-dtl">
                                <h3 class="ttl">ONLINE ADVANCED BIKANER PAINTING WORKSHOP</h3>
                                <h6 class="head-ttl">18th-20th Nov,2022</h6>
                                <div class="desc">
                                    <p><img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt=""> Mahaveer Swami</p>
                                </div>
                                <div class="btn-block">
                                    <button class="btn btn-regii">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ./Item -->
                </div>
            </div>  
        </div>
    </section>
    <!-- ./Product section 3 -->
  
    <!-- Popular Section 1 -->
    <section class="product-section mt-3 bg-section relate">
        <div class="container-fluid">
            <h5 class="sub-ttl">Handpicked Recommendations: <span class="view-btn-sec"><a href="javascript:void(0)">View All</a></span></h5>
            <div class="inner-container bg-sec inner2">
                <div class="product-slider-sec product2">
                    <div class="owl-carousel pro-slider-stage"> 
                        <!-- Item -->
                        <div class="item">
                            <div class="product-sec">
                                <div class="head">
                                    <div class="img-wrap full zoom">
                                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/img-3.jpg" alt="">
                                        <span class="bages-sec">12 min read</span>
                                    </div>
                                </div>
                                <div class="body product-dtl">
                                    <h6 class="head-ttl">Article</h6>
                                    <h3 class="ttl">Mechanics of the Mural: Kerala In Focus</h3>
                                    <div class="desc">
                                        <p class="text-dark">By MeMeraki Callabarator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="product-sec">
                                <div class="head">
                                    <div class="img-wrap full zoom">
                                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/img-3.jpg" alt="">
                                        <span class="bages-sec">12 min read</span>
                                    </div>
                                </div>
                                <div class="body product-dtl">
                                    <h6 class="head-ttl">Article</h6>
                                    <h3 class="ttl">Mechanics of the Mural: Kerala In Focus</h3>
                                    <div class="desc">
                                        <p class="text-dark">By MeMeraki Callabarator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="product-sec">
                                <div class="head">
                                    <div class="img-wrap full zoom">
                                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/img-3.jpg" alt="">
                                        <span class="bages-sec">12 min read</span>
                                    </div>
                                </div>
                                <div class="body product-dtl">
                                    <h6 class="head-ttl">Article</h6>
                                    <h3 class="ttl">Mechanics of the Mural: Kerala In Focus</h3>
                                    <div class="desc">
                                        <p class="text-dark">By MeMeraki Callabarator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Item -->
                        <!-- Item -->
                        <div class="item">
                            <div class="product-sec">
                                <div class="head">
                                    <div class="img-wrap full zoom">
                                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/img-3.jpg" alt="">
                                        <span class="bages-sec">12 min read</span>
                                    </div>
                                </div>
                                <div class="body product-dtl">
                                    <h6 class="head-ttl">Article</h6>
                                    <h3 class="ttl">Mechanics of the Mural: Kerala In Focus</h3>
                                    <div class="desc">
                                        <p class="text-dark">By MeMeraki Callabarator</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./Item -->
                    </div>
                </div> 
            </div> 
        </div>
    </section>
    <!-- ./Popular Section 1 -->

    <div class="container pt-3">
        <hr style="border-top: 2px solid #9fa0a8;">
    </div>

    <!-- References -->
    <section class="references-section">
        <div class="container">
            <div class="heading">
                <h2 class="ttl">References:</h2>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <ul class="references-ul">
                        <li>
                            <a href="javascript:void(0)">
                                https://jayahegvknewmuseumstore.wordpress.com/2019/10/03/kerala-murals-mastering-devotion/
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                https://publicarchives.wordpress.com/2018/10/14/the-mural-at-paliakara/ 
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                https://www.sahapedia.org/mural-paintings-the-churches-of-kerala#:~:text=The%20earliest%20surviving%20specimens%20of,(Kottayam%20Cheriapalli)%2C%20St. 
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                https://www.smithsonianmag.com/travel/how-christianity-came-to-india-kerala-180958117/ 
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                http://www.keralaculture.org/culture/5
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                https://www.sahapedia.org/contextualizing-church-murals-of-kerala-within-the-mural-traditions-indian-churches 
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                https://www.mullenbooks.com/pages/books/176664/fernao-lopes-de-castanheda-nicholas-lichefield/the-first-booke-of-the-historie-of-the-discouerie-and-conquest-of-the-east-indias-enterprised-by-the?soldItem=true
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <div class="form-rego">
                        <div class="up-comment">
                            <div class="comment-profile">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt="">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Comment"  name="commet">
                                  </div>
                            </div>
                            <div class="comment-profile">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <img class="img-fluid w-100" src="http://consciousfoundation.com/memeraki/images/pro-img3.jpg" alt="">
                                    </div>
                                    <input type="text" class="form-control" placeholder="Comment"  name="commet">
                                  </div>
                            </div>
                        </div>
                        <div class="down-comment">
                            <div class="head">
                                <h3 class="form-ttl">
                                    Leave a comment:
                                </h3>
                            </div>
                            <form action="#">
                                <div class="form-group">
                                    <label for="fname">Name</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="femail">Email</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="fcomment">Comment</label>
                                    <textarea cols="30" rows="5" class="form-control"></textarea>
                                </div>
                            </form>                            
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </section>
    <!-- ./References -->





<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="http://consciousfoundation.com/memeraki/js/interface.js"></script>
