{% section 'blogfilter' %}

 {% render 'collection-sidebar',
                    collection: collection, block: block %}

    <!-- images with text sliders  -->
    <section class="img-txtslider-section product-section">
        <div class="container-fluid">
            <ul class="breadcrumb">
                <li><a href="javascript:void(0)">Home</a></li>
                <li><a href="javascript:void(0)">Blog</a></li>
                <li><a href="javascript:void(0)">Spirituality</a></li>
          </ul>
        </div>
    </section>

    <!-- Product Section -->
    <section class="catelog-sec product-section mt-4">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <div class="head">
                        <h2 class="ttl">Spirituality</h2>
                    </div>
                    <div class="filter-box">
                        <ul class="flt-cont">
                            <li class="calt">
                                <a href="javascript:void(0)" class="dropdown-toggle" id="flitdown1">Filter</a>
                                <div class="coll_filter store1">
                                    <ul class="sidebar-filter">
                                        <input class="chosen-value form-control mb-2" type="text" value="" placeholder="Sort by">
                                        <li class="" data-placeholder="Featured" data-option-value="manual">
                                            <input type="checkbox" name="sort_by" value="manual">
                                            <span class="filter-label">Featured</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Best selling" data-option-value="best-selling">
                                            <input type="checkbox" name="sort_by" value="best-selling">
                                            <span class="filter-label">Best selling</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Alphabetically, A-Z" data-option-value="title-ascending">
                                            <input type="checkbox" name="sort_by" value="title-ascending">
                                            <span class="filter-label">Alphabetically, A-Z</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Alphabetically, Z-A" data-option-value="title-descending">
                                            <input type="checkbox" name="sort_by" value="title-descending">
                                            <span class="filter-label">Alphabetically, Z-A</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Price, low to high" data-option-value="price-ascending">
                                            <input type="checkbox" name="sort_by" value="price-ascending">
                                            <span class="filter-label">Price, low to high</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Price, high to low" data-option-value="price-descending">
                                            <input type="checkbox" name="sort_by" value="price-descending">
                                            <span class="filter-label">Price, high to low</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Date, old to new" data-option-value="created-ascending">
                                            <input type="checkbox" name="sort_by" value="created-ascending">
                                            <span class="filter-label">Date, old to new</span>
                                        </li>
                            
                                        <li class="" data-placeholder="Date, new to old" data-option-value="created-descending">
                                            <input type="checkbox" name="sort_by" value="created-descending">
                                            <span class="filter-label">Date, new to old</span>
                                        </li>
                            
                                    </ul>
                                </div>
                            </li>
                            <li class="calt">
                                <a href="javascript:void(0)" class="dropdown-toggle" id="flitdown2">Categories</a>
                                    <ul class="sidebar-filter store2">
                                        <li>
                                            <a class="side-filter" href="javascript:void(0)">
                                            <input type="checkbox" name="art_name" value="Assamese Scroll">
                                            <span class="filter-label" for="art_name">Assamese Scroll <span class="filter_count">(1)</span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="side-filter" href="javascript:void(0)">
                                            <input type="checkbox" name="art_name" value="Assamese Scroll">
                                            <span class="filter-label" for="art_name">Assamese Scroll <span class="filter_count">(1)</span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="side-filter" href="javascript:void(0)">
                                            <input type="checkbox" name="art_name" value="Assamese Scroll">
                                            <span class="filter-label" for="art_name">Assamese Scroll <span class="filter_count">(1)</span></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="side-filter" href="javascript:void(0)">
                                            <input type="checkbox" name="art_name" value="Assamese Scroll">
                                            <span class="filter-label" for="art_name">Assamese Scroll <span class="filter_count">(1)</span></span>
                                            </a>
                                        </li>
                                    </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="border-left col-md-10">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="product-slider-sec">
                                <div class="product-sec">
                                    <div class="head">
                                        <div class="img-wrap full zoom">
                                            <img class="img-fluid w-100" src="images/pro-img1.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="body product-dtl">
                                        <h6 class="head-ttl">Article</h6>
                                        <h3 class="ttl">All indians Should Visit This Museum in Japan!</h3>
                                        <p class="auth">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam maxime aliquam eum 
                                            delectus facilis.
                                        </p>
                                        <div class="desc">
                                            <p>By MeMeraki Callabarator</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ./Product section -->
  <link rel="stylesheet" href="https://www.consciousfoundation.com/memeraki/css/vscustom.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://www.consciousfoundation.com/memeraki/js/interface.js"></script>