<style>
  /*Desktops */
@media screen and (min-width: 780px) {
    .banner {
        width: 950px;
    }
    .bg{
      margin-right:30px;margin-left:30px;
    }
} 
  
/* For Mobile */
@media screen and (max-width: 540px) {
    .banner{
        width: 400px;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    .banner {
        width: 600px;
    }
}  
</style>
<center>
<h1 style="font-size:25px">MeMeraki Patrons Club</h1>
  <a href="https://www.memeraki.com/pages/rewards#smile-referral-program-details">
  <div class="bg" style="padding-top: 30px;padding-bottom:30px;
              background-color:#781c73;">
  <h3 class="banner" style="color:white;">REFER A FRIEND and for the next 2 weeks get increased 50,000 
    PATRON points (equal to 500 INR) and your referred friend gets 
    a 10% discount code. Share your unique referral link with your 
    friends, click on the 'rewards' section to find your unique 
    referral link</h3>
    </div></a>
</center>
<!-- <center><img src="image1.jpg" alt="centered image" height="598" width="398"> </center> -->
{% section 'referral' %}
